* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	overflow: auto;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Cormorant Upright', serif;
}

header,
section,
footer {
	padding: 0 1rem;
}

/*** header ***/
header h1 {
	color: #ffffff;
	font-size: 2.75rem;
	margin: 1rem 0;
	text-align: center;
}

/*** section ***/
section {
	flex: 1 0 auto;
}

section .container {
	background: url(https://www.dropbox.com/s/f16umhodn88qea6/seasky.jpeg?raw=1) no-repeat center center;
	background-size: cover;
	border-radius: 10px;
	font-weight: bold;
	max-width: 600px;
	min-height: 200px;
	padding: 5px 20px 15px;
}

.quotation {
	font-size: 1.75rem;
	text-align: center;
	text-shadow: 0px 0px 3px #fff;
}

.quotation-source {
	font-size: 1.5rem;
	text-align: right;
	text-shadow: 0px 0px 3px #fff;
}

.bttn-block {
	margin-top: 30px;
}

.btn {
	color: #fff;
	font-size: 1.25rem;
	height: 40px;
}

.btn:hover,
.btn:visited {
	color: #fff;
	opacity: .75;
}

.btn-social {
	width: 40px;
}

/*** footer ***/
footer {
	flex-shrink: 0;
	margin: 1rem 0;
}

footer p {
	color: #fff;
	font-size: 1.25rem;
	margin: auto;
	text-align: center;
}

footer a,
footer a:hover {
	color: #fff;
}